@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap');

body{
  background: linear-gradient(#f9f6f2, #5d5d5d);
  font-family: Arial, Helvetica , sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  border: 1px black solid;
}

.page-container {
  margin: 5px;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #a0855b;
}


/* title with line in the center */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.5em;
    text-align: center;
    margin: .5em;
}

.title:before,
.title:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.title:after {
    margin: 0 0 0 20px;
}
/* title with line in the center */



.top-header {
  background-color: white;
  padding: .8em .2em;
  text-align: right;
  width: 98%;
}



#main-header ul {
text-align: center;
padding: inherit;
}

#main-header ul li{
    list-style-type: none;
    display: inline;

  }

@media (max-width: 700px) {
  #main-header h1{
    text-align: left;
    font-size:2em;
    padding: .5em;
    display:flex;
  }
  #main-header ul{
    text-align: right;
    display: inline;
    padding: 0;
  }
}

#description img {

}
